@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-BoldItalic.woff2') format('woff2'),
        url('../fonts/Radikal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-BlackItalic.woff2') format('woff2'),
        url('../fonts/Radikal-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-MediumItalic.woff2') format('woff2'),
        url('../fonts/Radikal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-ThinItalic.woff2') format('woff2'),
        url('../fonts/Radikal-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Light.woff2') format('woff2'),
        url('../fonts/Radikal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Thin.woff2') format('woff2'),
        url('../fonts/Radikal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Black.woff2') format('woff2'),
        url('../fonts/Radikal-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../fonts/Radikal-UltraThin.woff2') format('woff2'),
        url('../fonts/Radikal-UltraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../fonts/Radikal-UltraThinItalic.woff2') format('woff2'),
        url('../fonts/Radikal-UltraThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Italic.woff2') format('woff2'),
        url('../fonts/Radikal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Medium.woff2') format('woff2'),
        url('../fonts/Radikal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal.woff2') format('woff2'),
        url('../fonts/Radikal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-LightItalic.woff2') format('woff2'),
        url('../fonts/Radikal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal-Bold.woff2') format('woff2'),
        url('../fonts/Radikal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

